.footerContainer {
  padding: 1rem;
  background: #381C1E;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.footerText {
  color: rgb(110, 110, 110);
  font-size: 1rem;
}

.iconeInsta {
   height: 22px;
   width: 22px;
   cursor: pointer;
   display: flex;
   margin-left: 40%;
   
}