.formContainer {
    width: 100%;
  }
  
  .contatoText {
   width: 60%; 
  margin: 0 auto;
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #381c1ebd;
  text-align: center;
  }



  .form {
    margin: 0 auto;
    border-radius: 4px;
    width: 80%;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  
  .formInput {
    width: 80%;
    padding: 12px 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 1rem;
  }
  
  
  
  
  .formButton {
    background-color: #381C1E;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1rem;
    width: 80%;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .formButton:hover {
    background-color: #4CA;
  }


  @media(max-width: 765px) {


    .contatoText {
      width: 90%; 
     margin: 0 auto;
     min-height: 25vh;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #381c1ebd;
     text-align: center;
     font-size: 10pt;
     }


  }
